<form [formGroup]="passwordForm" (ngSubmit)="submitForm()">
  <div fxLayout="column wrap" fxLayoutAlign="center center">
    <mat-form-field fxFlex="1 1 calc(50% - 10px)" id="mat-text-item">
      <input matInput placeholder="email" formControlName="email" />
      <!-- validate form -->
      <mat-error
        *ngIf="
          passwordForm.get('email').invalid &&
          (passwordForm.get('email').touched || passwordForm.get('email').dirty)
        "
      >
        <p
          class="text-danger"
          *ngIf="passwordForm.get('email').hasError('required')"
        >
          email field is required
        </p>
        <p
          class="text-danger"
          *ngIf="passwordForm.get('email').hasError('email')"
        >
          enter a valid email
        </p>
      </mat-error>
    </mat-form-field>
    <mat-form-field fxFlex="1 1 calc(50% - 10px)" id="mat-text-item">
      <input
        matInput
        placeholder="password"
        type="password"
        formControlName="password"
      />
      <!-- validate form -->
      <mat-error
        *ngIf="
          passwordForm.get('password').invalid &&
          (passwordForm.get('password').touched ||
            passwordForm.get('password').dirty)
        "
      >
        <p
          class="text-danger"
          *ngIf="passwordForm.get('password').hasError('required')"
        >
          password field is required
        </p>
        <p
          class="text-danger"
          *ngIf="passwordForm.get('password').hasError('minlength')"
        >
          password msut contain at leaset 8 charachter
        </p>
      </mat-error>
    </mat-form-field>
    <mat-form-field fxFlex="1 1 calc(50% - 10px)" id="mat-text-item">
      <input
        matInput
        placeholder="confirm password"
        type="password"
        formControlName="confirmPassword"
      />
      <!-- validate form -->
      <mat-error
        *ngIf="
          passwordForm.get('confirmPassword').invalid &&
          (passwordForm.get('confirmPassword').touched ||
            passwordForm.get('confirmPassword').dirty)
        "
      >
        <p
          class="text-danger"
          *ngIf="passwordForm.get('confirmPassword').hasError('required')"
        >
          confirm password field is required
        </p>
        <p
          class="text-danger"
          *ngIf="passwordForm.get('confirmPassword').hasError('minlength')"
        >
          confirm password msut contain at leaset 8 charachter
        </p>
        <p
          class="text-danger"
          *ngIf="passwordForm.get('confirmPassword').hasError('NotMatch')"
        >
          passwort not match
        </p>
      </mat-error>
    </mat-form-field>
    <div class="action-button">
      <button
        type="submit"
        mat-raised-button
        class="text-success mr-2"
        [disabled]="passwordForm.invalid"
      >
        Save
      </button>
      <button mat-raised-button class="text-warning" (click)="resetForm()">
        Reset
      </button>
    </div>
  </div>
</form>
