@import "../../../assets/scss/mixin/util";

.st-font {
  font-family: "cairo";
  font-size: 18px;
}

.ng-star-inserted {
  height: 95vh;
}

.font1 {
  font-family: "rlway";
}

.swiper-container {
  width: 100%;
  height: 80vh;

  .swiper-slide:has(img) {
    width: 100%;
    height: 100%;
    object-fit: contain;
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
}

.imgSt {
  background: url("../../../assets/icons/svg/moon-outline.svg");
  display: block;
  text-indent: -9999px;
  width: 80px;
  height: 82px;
  background-size: 80px 82px;
  object-fit: cover;
}

.out-div {
  @include padding(10px, 10px, 10px, 10px);
  background-color: lightblue;
  @include center-block;
  .in-div {
    background-color: lightcoral;
    width: 100px;
    @include padding(10px, 10px, 10px, 10px);
    @include center-block;
    p {
      @include truncate-text;
    }
  }
}


// .swiper-slide {
//   text-align: center;
//   font-size: 18px;
//   background: #fff;
//   /* Center slide text vertically */
//   display: -webkit-box;
//   display: -ms-flexbox;
//   display: -webkit-flex;
//   display: flex;
//   -webkit-box-pack: center;
//   -ms-flex-pack: center;
//   -webkit-justify-content: center;
//   justify-content: center;
//   -webkit-box-align: center;
//   -ms-flex-align: center;
//   -webkit-align-items: center;
//   align-items: center;
// }