<div class="row mb-2 mt-2">
  <!-- <h1 class="f1">Test slider</h1> -->

  <div class="out-div">
    <div class="in-div">
      <p>in div fdsfsfsdfsdf fdffsf sfs fsfsd fs</p>
    </div>
  </div>
  <div class="col">
    <!-- Slider main container -->
    <div class="swiper-container" dir="rtl">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide" *ngFor="let item of imgItems; let i = index">
          <img [src]="item" alt="{{ 'Image for slider ' + i }}" />
        </div>
        ...
      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>

      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>

      <!-- If we need scrollbar -->
      <!-- <div class="swiper-scrollbar"></div> -->
    </div>
  </div>
</div>

<div class="row mt-1 mb-1 no-gutters">
  <div class="col-12">
    <ngx-gallery
      [options]="galleryOptions"
      [images]="galleryImages"
    ></ngx-gallery>
    <span class="imgSt"></span>
  </div>
</div>
