<!-- <div class="d-flex flex-row justify-content-center align-items-center bg-warning full-viewheight">
  <span class="lead text-dark h3 typed-element font-cairo-blod"></span>
</div> -->
<div class="row">
  <div class="col">
    <ng-container *ngFor="let item of postItem">
      <app-httpcard [postId]="item"></app-httpcard>
    </ng-container>
  </div>
</div>
<!--  ********************  -->
<div class="row rtl">
  <div class="col-7">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Real Madrid
          </mat-panel-title>
        </mat-expansion-panel-header>
        <table class="table  text-center">
          <thead>
            <tr>
              <th>Team 1</th>
              <th>Score</th>
              <th>Team 2</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <h5 class="h5">Real Madrid</h5>
              </td>
              <td>
                <div
                  class="d-flex  flex-row justify-content-center align-items-center p-1"
                >
                  <p class="lead">2</p>
                  <p class="lead">:</p>
                  <p class="lead">2</p>
                </div>
                <div
                  class="d-flex flex-row justify-content-center align-items-center"
                >
                  NEW YORKERS STADIUM - APRIL 15, 2019
                </div>
              </td>
              <td>
                <h5 class="h5">Barcelona</h5>
              </td>
            </tr>
            <tr>
              <td>
                <h5 class="h5">Valencia</h5>
              </td>
              <td>
                <div
                  class="d-flex flex-row justify-content-center align-items-center"
                >
                  NEW YORKERS STADIUM - APRIL 15, 2019
                </div>
                <div
                  class="d-flex  flex-row justify-content-center align-items-center p-1"
                >
                  <p class="lead">2</p>
                  <p class="lead">:</p>
                  <p class="lead">2</p>
                </div>
              </td>
              <td>
                <h5 class="h5">Real Madrid</h5>
              </td>
            </tr>
          </tbody>
        </table>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <div class="col-5">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            View All Matches
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="card mb-2 bg-warning">
          <div class="card-body">
            <!-- second row -->
            <div class="d-flex flex-row justify-content-between">
              <div
                class="d-flex flex-column align-items-center border p-2 bg-info"
              >
                <img [src]="imgLink" alt="" srcset="" width="32" height="32" />
                <h5 class="h5">Real Madrid</h5>
                <p class="h6">Spain</p>
              </div>
              <div
                class="d-flex flex-row justify-content-between align-items-center"
              >
                <p class="h3 ml-2">3</p>
                <p class="h3 ml-2 text-danger">:</p>
                <p class="h3 ml-2">2</p>
              </div>
              <div
                class="d-flex flex-column align-items-center border p-2 bg-info"
              >
                <img [src]="imgLink2" alt="" srcset="" width="32" height="32" />
                <h5 class="h5">Bayrn Munchin</h5>
                <p class="h6">Germany</p>
              </div>
            </div>
          </div>
          <hr class="py-1" />
          <ul class="list-group">
            <li
              class="list-group-item d-flex justify-content-between align-items-center"
            >
              Stadium
              <span>Santiago Bernabiu</span>
            </li>
            <li
              class="list-group-item d-flex justify-content-between align-items-center"
            >
              Weather
              <span>Raniy / Normal</span>
            </li>
            <li
              class="list-group-item d-flex justify-content-between align-items-center"
            >
              Judger
              <span>Koko Ahmed</span>
            </li>
          </ul>
        </div>
        <div class="card mb-2 bg-warning">
          <div class="card-body">
            <!-- second row -->
            <div class="d-flex flex-row justify-content-between">
              <div
                class="d-flex flex-column align-items-center border p-2 bg-info"
              >
                <img [src]="imgLink" alt="" srcset="" width="32" height="32" />
                <h5 class="h5">Real Madrid</h5>
                <p class="h6">Spain</p>
              </div>
              <div
                class="d-flex flex-row justify-content-between align-items-center"
              >
                <p class="h3 ml-2">3</p>
                <p class="h3 ml-2 text-danger">:</p>
                <p class="h3 ml-2">2</p>
              </div>
              <div
                class="d-flex flex-column align-items-center border p-2 bg-info"
              >
                <img [src]="imgLink2" alt="" srcset="" width="32" height="32" />
                <h5 class="h5">Bayrn Munchin</h5>
                <p class="h6">Germany</p>
              </div>
            </div>
          </div>
          <hr class="py-1" />
          <ul class="list-group">
            <li
              class="list-group-item d-flex justify-content-between align-items-center"
            >
              Stadium
              <span>Santiago Bernabiu</span>
            </li>
            <li
              class="list-group-item d-flex justify-content-between align-items-center"
            >
              Weather
              <span>Raniy / Normal</span>
            </li>
            <li
              class="list-group-item d-flex justify-content-between align-items-center"
            >
              Judger
              <span>Koko Ahmed</span>
            </li>
          </ul>
        </div>
        <div class="card mb-2 bg-warning">
          <div class="card-body">
            <!-- second row -->
            <div class="d-flex flex-row justify-content-between">
              <div
                class="d-flex flex-column align-items-center border p-2 bg-info"
              >
                <img [src]="imgLink" alt="" srcset="" width="32" height="32" />
                <h5 class="h5">Real Madrid</h5>
                <p class="h6">Spain</p>
              </div>
              <div
                class="d-flex flex-row justify-content-between align-items-center"
              >
                <p class="h3 ml-2">3</p>
                <p class="h3 ml-2 text-danger">:</p>
                <p class="h3 ml-2">2</p>
              </div>
              <div
                class="d-flex flex-column align-items-center border p-2 bg-info"
              >
                <img [src]="imgLink2" alt="" srcset="" width="32" height="32" />
                <h5 class="h5">Bayrn Munchin</h5>
                <p class="h6">Germany</p>
              </div>
            </div>
          </div>
          <hr class="py-1" />
          <ul class="list-group">
            <li
              class="list-group-item d-flex justify-content-between align-items-center"
            >
              Stadium
              <span>Santiago Bernabiu</span>
            </li>
            <li
              class="list-group-item d-flex justify-content-between align-items-center"
            >
              Weather
              <span>Raniy / Normal</span>
            </li>
            <li
              class="list-group-item d-flex justify-content-between align-items-center"
            >
              Judger
              <span>Koko Ahmed</span>
            </li>
          </ul>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light mb-2 mt-2 rtl">
  <button
    class="navbar-toggler d-lg-none"
    type="button"
    data-toggle="collapse"
    data-target="#collapsibleNavId"
    aria-controls="collapsibleNavId"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavId">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link bg-danger" [routerLink]="['moreabout']"
          >More About</a
        >
      </li>
    </ul>
  </div>
</nav>

<div class="row">
  <div class="col">
    <router-outlet></router-outlet>
  </div>
</div>
