<div class="row rtl">
  <div class="col-md-10 m-auto">
    <div class="row">
      <div class="col-md-3">
        <div class="card border-secondary">
          <div class="card-body">
            <h4 class="card-title">Tools</h4>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card border-warning">
          <div class="card-body">
            <h4 class="card-title">Service</h4>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card border-success">
          <div class="card-body">
            <h4 class="card-title">About us</h4>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card border-primary">
          <div class="card-body">
            <h4 class="card-title">Products</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
